body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  padding: 0 20px;
}

.calculator {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.result {
  background-color: gray;
  text-align: end;
  grid-column: 1 / -1;
  padding: 15px;
  font-size: 20px;
}

#button-0 {
  grid-column: 1 / 3;
}

.button {
  background-color: lightgrey;
  border: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 25px 0;
}

.button:focus {
  outline: none;
}

p {
  margin: 0;
}

.orange {
  background-color: orange !important;
}

@media (min-width: 768px) {
  .container {
    width: 20%;
    padding: 0;
  }
}
